<div class="jumbotron">
  <h1 style="text-align:center">Project : <%= @project.name %></h1>
</div>
<div class="table-responsive">
  <%= render partial: "home/table", locals: { tasks: @tasks } %>
</div>

  <%= render partial: "home/add_task" %>
