

<!-- <%= render :partial => 'home/navbar' %> -->



<div class="page-wrapper chiller-theme toggled">
  <div id="show-sidebar" class="btn btn-sm btn-dark" >
    <i class="fas fa-bars"></i>
  </div>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Task Manager</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name"><%= current_user.first_name %>
            <strong><%= current_user.last_name %></strong>
          </span>
          <span class="user-role">Employee</span>
          <span class="user-status">
            <span><%= current_user.email %></span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Projects</span>
          </li>
          <li class="sidebar-dropdown active">
            <a>
              <i class="fa fa-book"></i>
              <span>Dashboard</span>
            </a>

          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Products

                  </a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>


          <li class="header-menu">
            <span>Settings</span>
          </li>
          <li>

            <a rel="nofollow" data-method="delete" href="/sign_out">
              <i class="fa fa-book"></i>
              <span>sign_out</span>
            </a>

          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Sidebar template</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
          <p> You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
            <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=star&count=true&size=large"
              Github</a>, it contains more themes and background image option</p>
        </div>
        <div class="form-group col-md-12">
            frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
          <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=fork&count=true&size=large"
            frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
        </div>
      </div>
      <h5>More templates</h5>
      <hr>

      <div class="row">
        alt="Card image cap">
        <div class="col-md-12">
          <h6>Angular 2+ Version</h6>
          <div style="width:13rem;">
            <a href="https://github.com/azouaoui-med/angular-pro-sidebar" target="_blank" class="alert-link">
              <img class="card-img-top" src="https://user-images.githubusercontent.com/25878302/50010090-d193f480-ffb8-11e8-98ef-3d7ffa6ddfe1.png"
            </a>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- page-content" -->
</div>
